/* -----------------------------------------------------------Header----------------------------------------------------------------------- */
.navbar{
    background: rgb(8,64,143);
    background: linear-gradient(145deg, rgba(8,64,143,1) 0%, rgba(10,78,198,1) 35%, rgba(29,135,161,1) 100%, rgba(9,46,238,1) 100%);
}
.bg-menu{
    background: rgb(91, 171, 177);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,217,1) 0%);
    backdrop-filter: blur(10px);
}
.sidebar{
    background-color:cadetblue !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.dropdown-item:hover{
    background-color: ghostwhite !important;
    color: darkblue !important;
    border-radius: 10px;
}

/* -----------------------------------------------------------Footer----------------------------------------------------------------------- */
footer{
    background-color: rgba(0,0,0,0.8);
}
.menu_footer{
    list-style: none;
    padding-left: 0 !important;
}
.menu_footer a{
    color: aliceblue;
}
a{
    text-decoration: none !important;
}
.menu_footer a:hover{
    color: blue;
}
h3{
    color: rgba(100,255,10,1) !important;
}

/* -----------------------------------------------------------Content----------------------------------------------------------------------- */

body{
    background-color: #b8cdd3 !important;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 15px;
    font-size: 18px;
    border: 1px solid blue;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.phoneCircle{
    animation: ring 0.5s;
    animation-iteration-count: infinite;
    position: fixed;
    bottom: 240px;
    right: 15px;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%; 
    border: 1px solid white; 
    background-color: red;
    padding: 8px;
}
@keyframes ring{
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
.checked{
    color: orange;
}
.h1{
    color: white !important; 
    text-transform: uppercase;
    margin-bottom: 30px !important;
}
.saleProduct{
    background: rgb(8,64,143);
    background: linear-gradient(145deg, rgba(8,64,143,1) 0%, rgba(10,78,198,1) 35%, rgba(29,135,161,1) 100%, rgba(9,46,238,1) 100%);
    padding-bottom: 50px;
    padding-top: 30px;
    min-height: 600px;
}
.open-button{
    background-color: white;
    color: blue;
    font-weight: bold;
    border: 2px solid rgb(160, 22, 25);
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    box-sizing: border-box;
}
.chat-popup{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 10px;
    padding: 0px;
}
.form-container{
    max-width: 300px;
    background-color: white;
}
.form-container textarea{
    width: 97%;
    padding: 10px;
    border: none;
    background-color: #b8cdd3;
    resize: none;
    min-height: 25px;
    border-radius: 10px;
    outline: none;
    margin-top: 150px;
    margin-left: 5px;
}
.form-container .btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel{
    background-color: red;
}
.form-container .btn:hover, .open-button:hover{
    opacity: 1;
}
.spChat{
    width: 250px;
    background-color: #b8cdd3;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}
.icon, .imageZalo{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
.titleProduct{
    text-decoration: none;
    color: black;
}
.line{
    line-height: 1px; 
    color: #99e6ff; 
    font-size: 20px; 
    padding-top: 12px;
    box-sizing: border-box;
    margin: 0;
}
.bannerWrapt {
	background-color: #1aa3ff;
    border: 1px solid #1aa3ff;
    color: white;
    text-transform: uppercase;
}
.banner{
    background-color: white;
    border: 1px solid #b8cdd3 !important;
    border-top: 3px solid  #1aa3ff !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product{
    background-color: white;
}
.imageProduct > img{
    transition: transform .2s;
}
.imageProduct > img:hover{
    transform: scale(1.02);
}